<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
<menuitem name="Rates" id="nibor_rate_menu" parent="account.menu_finance_configuration"
              sequence="5" />
        <menuitem name="NIBOR Rates" id="nibor_ratesub_menu" parent="nibor_rate_menu"
              sequence="5" action="action_nibor_rate"/>

    </data>
</odoo>